@font-face {
  font-family: 'LazyDog';
  src: url('./lazy_dog.woff2')
}

@font-face {
  font-family: 'Agrandir';
  src: url('./agrandir.woff')
}

body {
  margin: 0 auto;
  width: 700px;
  background: #826c4b;
  font-family: 'LazyDog';
  color: white;
  text-align: center;
}

h1 {
  text-transform: capitalize;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

p {
  font-family: 'Agrandir';
  font-size: 1.25rem;
}

a {
  color: #a7cbad;
}


@media screen and (min-width: 1000px) {
  .show-small {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }

  .drawing {
    height: 6rem !important;
    object-fit: contain;
    margin: 0 !important;
  }

  .hide-small {
    display: none;
  }


  h1, h2 {
    width: auto !important;
  }

  p, h1, h2 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  div {
    margin: 0 !important;
  }

  #photo-2 {
    margin: 2rem 0 2rem 0 !important;
  }
}
